*{
		margin: 0;
		padding: 0;
		font-family: "微软雅黑";
	}
	#banner{
		height: 100%;
	}
	#header{
		width: 100%;
		height: 70px;
		background: #d3d3d3;
		margin-bottom: 20px;
		position: relative;
	}
	#content_l{
		width: 15%;
		height: 500px;
		margin: 5px;
		background: #d3d3d3;
		float: left;
	}
	#content_r{
		width: 82%;
		height: 500px;
		margin: 5px;
		background: #d3d3d3;
		float: right;
	}
	/*
		header
	*/
	#header h2{
		margin-left: 75px;
		line-height: 70px;
		float: left;
	}
	#header p{
		width: 60%;
		position: absolute;
		left: 50%;
		margin-left:-10%;
		font-size: 1.5em; 
		line-height: 70px;
	}
	/*
		content_l
	*/
	#content_l ul{
		display: block;
		height: 200px;
		width: 100%;
		padding-top: 10px; 
	}
	#content_l ul li{
		list-style: none;
		height: 30px;
		width: 80%;
		background: #fff;
		margin: 10px auto;
		text-align: center;
		line-height: 30px;
		cursor: pointer;
	}
	#content_l ul li a{
		text-decoration: none;
		color: #000;
	}