*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
#newsbanner{
	width: 80%;
	height: 500px;
	margin: 0 auto;
	background: #d3d3d3;
}
#newsheader{
	height: 70px;
	width: 100%;
	background: #d3d3d3;
	text-align: center;
	line-height: 70px;
	border-bottom: 1px solid #fff;
}
#newscontent{
	width: 100%;
	height: 430px;
}
#newswriteTool{
	width: 100%;
	height: 55px;
	border-bottom: 1px solid #000;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #fff;
}

#newswriteTool ul li{
	width: 16%;
	height: 55px;
	line-height: 55px;
	list-style: none;
	float: left;
	text-align: center;
}
#newswriteTool ul li:first-child{
	width: 20%;
}
#newswriteTool ul li span{
	display: block;
	margin: 10px auto;
	width: 30%;
	height: 35px;
	background: #cfc;
	cursor: pointer;
	line-height: 35px;
}
/*新闻标题*/
#newsTitle{
	width: 90%;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background: #fff;
}
#newsTitle label{
	display: block;
	width: 10%;
	margin-top: 6px;
	float: left;
	line-height: 40px;
	text-align: right;
}
#newsTitle input{
	margin-left: 4%;
	margin-top: 3px;
	width: 85%;
	height: 40px;
	float: left;
}
/*时间*/
#newstime{
	width: 90%;
	height: 50px;
	margin: 0 auto;
	margin-bottom: 10px;
	background: #fff;
}
#newstime label{
	display: block;
	width: 10%;
	margin-top: 6px;
	float: left;
	line-height: 40px;
	text-align: right;
}
#newsintroduce{
	margin-left: 2%;
	margin-top: 3px;
	width: 55%;
	height: 40px;
	float: left;
}
#datepicker{
	margin-left: 2%;
	margin-top: 3px;
	width: 15%;
	height: 40px;
	float: left;
}
/*新闻内容*/
#newsContent{
	height: 259px;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 5px;
	background: #fff;
}
#newsContent p{
	display: block;
	width: 10%;
	margin-top: 12px;
	float: left;
	line-height: 160px;
	text-align: right;
}
#richtext{
	margin-left: 4%;
	margin-top: 12px;
	width: 65%;
	height: 160px;
	float: left;
	border: 1px solid red;
}
#newssubmit{
	width: 70px;
	height: 35px;
	display: block;
	margin: 0 auto;
}