<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="../../js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
	<style type="text/css">
		body
		{
			padding: 0;
			margin: 0;
			background: black;
		}
		#banner
		{
			width: 400px;
			height: 300px;
			margin: 200px auto;
			background: white;
		}
		.head
		{
			height: 30px;
		}
		#close
		{
			float: right;
			padding:0 15px;
			font-size: 25px;
			height: 30px;
			line-height: 30px;
			text-align: center;
		}
		#close:hover
		{
			background: #ccc;
		}
		.content
		{

		}
	</style>
</head>
<body>
	<div id="banner">
		<div class="head">
			<div id="close">x</div>
		</div>
		<div class="content">
			<div id="image"></div>
			<div id="towbtn">
				<button id="btn1">喜欢我</button>
				<button id="btn2">不喜欢我</button>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(function(){
		var btn1 = $("btn1");
		var btn2 = $("btn2");
		
	})
</script>
</html>